* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.container {
    background-color: aliceblue;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transition: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius:  10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); 
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: c;
}